
@{
    ViewBag.Title = "About";
}
<div class="site-blocks-vs inner-page-cover" style="background-image: url(/Content/images/hero_bg_3.jpg)" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
                <br /><br />
                <h1 class="text-white font-weight-light">Nosotros</h1>
                <br /><br />
            </div>
        </div>
    </div>
</div>

<div class="site-section" data-aos="fade-up">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 mb-5 mb-md-0">
                <img src="~/Content/images/1690.jpg" alt="Image" class="img-fluid rounded">
            </div>
            <div class="col-md-6 pl-md-5">
                <h2 class="font-weight-light text-black mb-4">Nosotros</h2>
                <p>
                    BidCargo es una empresa creada para responder a las necesidades del sector del transporte terrestre en Colombia. 
                    Nace como una idea de profesionales en Logística y Transporte, así como Desarrolladores de Sistemas, cuyo plan 
                    de negocios y viabilidad está avalado por la Universidad de los Andes, mediante Tesis de Grado. A partir de su 
                    constitución, comienza el desarrollo de la plataforma que provee todos los servicios de BidCargo. Esta plataforma 
                    está en constante desarrollo, incorporando nuevos servicios y facilitando las operaciones de sus usuarios.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row align-items-stretch">
            <div class="col-md-12 col-lg-6 mb-6 mb-lg-0">
                <div class="unit-4 d-flex">
                    <div class="unit-4-icon me-4"><span class="color-icono-bidcargo icon-binoculars"></span></div>
                    <div>
                        <h3>Misión</h3>
                        <p>
                            Facilitar las relaciones comerciales del ecosistema logístico del transporte a través de un servicio
                            experto, soportado en una Plataforma Tecnológica Colaborativa, que permite procesos más eficientes.
                            <br />
                        </p>
                        <p>
                            Contamos con un equipo humano comprometido cuya experiencia en el sector garantiza la 
                            transparencia, objetividad y confianza en las transacciones entre los diversos actores de la cadena de abastecimiento.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 mb-6 mb-lg-0">
                <div class="unit-4 d-flex">
                    <div class="unit-4-icon me-4"><span class="color-icono-bidcargo icon-eye"></span></div>
                    <div>
                        <h3>Visión</h3>
                        <p>
                            Para el 2025 BidCargo Technologies será reconocida internacionalmente, por su ética y 
                            confiabilidad, como un referente en el manejo de relaciones comerciales "online" entre todos los actores que integran la comunidad logística del trasporte.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@*<div class="site-section">
    <div class="container">
        <div class="row justify-content-center mb-5" data-aos="fade-up">
            <div class="col-md-7">
                <h2 class="font-weight-light text-black text-center">Nuestro Equipo</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 text-center mb-5" data-aos="fade-up">
                <img src="~/Content/images/personas-01.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
                <h2 class="text-black font-weight-light mb-4">Carlos Acevedo</h2>
                <p class="mb-4">
                    Administrador comercial con más de 20 años de experiencia en empresas multinacionales, en análisis y sistematización de procesos administrativos.
                </p>
            </div>
            <div class="col-md-6 col-lg-4 text-center mb-5" data-aos="fade-up">
                <img src="~/Content/images/personas-02.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
                <h2 class="text-black font-weight-light mb-4">Cesar Alarcón</h2>
                <p class="mb-4">
                    Ingeniero industrial especialista en logística integral con más de 30 años de experiencia en el sector del transporte de carga.
                </p>

            </div>
            <div class="col-md-6 col-lg-4 text-center mb-5" data-aos="fade-up">
                <img src="~/Content/images/personas-03.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
                <h2 class="text-black font-weight-light mb-4">Carlos A. Mateus</h2>
                <p class="mb-4">
                    Abogado con especialidad y maestría jurídica y económica. Experiencia en asesoría y consultoría en diversas organizaciones públicas y privadas, nacionales e internacionales.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-3 col-lg-4 text-center mb-5" data-aos="fade-up">
                <img src="~/Content/images/personas-04.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
                <h2 class="text-black font-weight-light mb-4">Santiago Roncancio</h2>
                <p class="mb-4">Ingeniero industrial y ambiental con experiencia en gestión de proyectos y análisis comercial.</p>

            </div>
            <div class="col-sm-3 col-lg-4 text-center mb-5" data-aos="fade-up">
                <img src="~/Content/images/personas-05.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
                <h2 class="text-black font-weight-light mb-4">Diego F. Morales</h2>
                <p class="mb-4">
                    Ingeniero industrial y ambiental con énfasis en finanzas y gestión de proyectos.
                </p>

            </div>
        </div>
    </div>
</div>*@

<div class="site-section block-13 bg-light">



</div>


@section  scripts{
    @if (Session["message"] != null)
    {
        if (Session["message"].ToString() != "")
        {
            <script type="text/javascript">
                Swal.fire({
                    title: "@Session["message"].ToString()",
                    html: 'Este Mensaje se cerrar en <strong></strong> segundos.',
                    type: 'success',
                    showConfirmButton: true,
                    width: 700,
                    padding: '3em',
                    timer: 6000,
                    /*onBeforeOpen: () => {
                        Swal.showLoading()
                        timerInterval = setInterval(() => {
                            Swal.getContent().querySelector('strong')
                                .textContent = Swal.getTimerLeft()
                        }, 100)
                    },
                    backdrop: false,
                    onClose: () => {
                    }*/
                });
            </script>
        }
        Session.Remove("message");
    }
}
